@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  
  --color-bento-bg: #f5f7fa;
  --color-bento-card: #ffffff;
  --color-bento-primary: #3b82f6;
  --color-bento-text-main: #1e293b;
  --color-bento-text-sub: #64748b;
  --color-bento-border: #e2e8f0;
  --color-bento-accent: #10b981;
  --color-bento-active-bg: #eff6ff;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
  }
}

@layer base {
  body {
    @apply bg-bento-bg text-bento-text-main antialiased;
  }
}
